<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="../styles/profile.css" />
  </head>

  <body>
    <main>
      <div class="buttons">
        <button class="menu_b">
          <img src="../icons/edit.svg" alt="rising" />Edit my profile
        </button>
      </div>

      <div class="profile-div">
        <div class="user-div">
          <div class="image-user">
            <img src="../images/test-image.jpg" alt="image" class="image" />
          </div>

          <input type="hidden" id="user-id" data-user-id="<%= user.id %>" />
          <input
            type="hidden"
            id="user-type"
            data-user-type="<%= user.type %>"
          />
          <span class="username"><%= profileData.username %></span>
        </div>

        <div class="details-div">
          <p><%= profileData.description %></p>
        </div>
      </div>

      <div class="grid-container">
        <% if (profileData.images && Array.isArray(profileData.images)) { %> <%
        for (var i = 0; i < profileData.images.length; i++) { %>
        <div class="grid-item">
          <img
            src="<%= profileData.images[i].imageSrc %>"
            alt="<%= profileData.images[i].altText %>"
            class="image"
          />
        </div>
        <% } %> <% } %>
      </div>
    </main>

    <script src="../scripts/profile.js"></script>
  </body>
</html>
