<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="../styles/profile.css" />
  </head>

  <body>
    <div class="container">
      <div class="buttons-container">
        <button id="edit-profile-button" class="btn">
          <img src="../icons/edit.svg" alt="rising" />
          Editar Perfil
        </button>
        <button id="withdraw-money-button" class="btn">
          <img src="../icons/edit.svg" alt="rising" />
          Retirar Dinheiro
        </button>
        <button id="add-money-button" class="btn">
          <img src="../icons/edit.svg" alt="rising" />
          Adicionar Dinheiro
        </button>
      </div>

      <div class="profile-cards">
        <div class="profile-card profile-card-left">
          <img class="profile-image" src="<%= profileData.profileImage %>" />
          <p><%= profileData.username %></p>
          <div class="profile-stats">
            <div class="profile-stat">
              <p><%= profileData.images.length %></p>
              <p class="profile-stat-label">Images</p>
            </div>
          </div>
        </div>
        <div class="profile-card">
          <div class="profile-card-right">
            <p class="price"><%= profileData.price %></p>
            <p class="description"><%= profileData.description %></p>

            <form
              id="edit-profile-form"
              enctype="multipart/form-data"
              method="PATCH"
            >
              <label for="username">Username:</label>
              <input
                type="text"
                id="username"
                name="username"
                value="<%= profileData.name %>"
              />
              <input type="hidden" name="user" value="" />

              <label for="description">Description:</label>
              <textarea id="description" name="description">
<%= profileData.description %></textarea
              >

              <!-- Adicione outros campos conforme necessário -->

              <button type="submit">Save Changes</button>
            </form>
          </div>
        </div>
      </div>

      <div class="grid-container">
        <% if (profileData && Array.isArray(profileData.images)) { %> <% for
        (var i = 0; i < profileData.images.length; i++) { %>
        <div class="grid-item">
          <img
            src="../<%= profileData.images[i].imageSrc %>"
            alt="<%= profileData.images[i].altText %>"
            class="image"
          />
        </div>
        <% } %> <% } else { %> <% include('../components/Loading') %> <% } %>
      </div>
    </div>

    <script src="../scripts/profile.js"></script>
  </body>
</html>
